<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
  </coverage>
  <php>
    <server name='SERVER_PROTOCOL' value='HTTP/3.0' />
    <server name='HTTPS' value='on' />
    <server name='SERVER_NAME' value='sub.domain.com' />
    <server name='REQUEST_URL' value='/en/web/docs/search.php?tag=bug#top' />
    <server name='DOCUMENT_ROOT' value='/var/www/domain/public' />
    <server name='SERVER_PORT' value='9090' />
    <server name='HTTP_REFERER' value='https://www.google.es/' />
  </php>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
